:root {
  --spaceCadet: #222e50;
  --murtleGreen: #426b69;
  --oliveVine: #8bb174;
  --lightOliveVine: #b5ca8d;
  --darkSlateGray: #2a4849;
}

.App {
  text-align: center;
  background-color: var(--spaceCadet);
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatStuff .form-control:focus {
  box-shadow: var(--oliveVine) 0 0 10px 3px;
}
.chat {
  display: flex;
  flex-direction: column;
  max-height: 620px;
  padding: 1em;
  overflow-x: hidden;
  overflow-y: scroll;
}
.chat::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}
.chat::-webkit-scrollbar-thumb {
  background-color: var(--lightOliveVine);
  box-shadow: inset black 1px 1px 2px;
  border-radius: 1px;
}
.singleMessage {
  display: flex;
  flex-direction: column;
}
.messageTop {
  display: flex;
  gap: 10px;
  font-size: 14pt;
}
.messageBottom {
  color: rgba(255, 255, 255, 0.644);
}
.myChatBubble {
  background-color: var(--murtleGreen);
  width: 45%;
  align-self: self-end;
  color: white;
  border-radius: 5px;
  box-shadow: black 5px 5px 10px;
  margin-bottom: 5px;
  padding: 0.5em 1em;
}
.otherChatBubble {
  background-color: var(--oliveVine);
  width: 45%;
  border-radius: 5px;
  box-shadow: black -5px 5px 10px;
  align-self: self-start;
  color: black;
  margin-bottom: 5px;
  padding: 0.5em 1em;
}
#bottomLine {
  margin-bottom: 4em;
}
.rightSide {
  color: white;
}
.rightTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkSlateGray);
  padding: 0.5em 1em;
  border-radius: 10px;
  box-shadow: gray 5px 5px 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
